<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include('../partials/head') %>
</head>
<body id="grad">

<header>
    <%- include('../partials/header') %>
</header>

<div class="container" id="page-text">
    <div class="page-header page-title waypoint">
        <h1 id="page-title">Welcome to Algorithm Animation!</h1>
    </div>
    <div class="row waypoint">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class="report-text-spacing">People don't often realise, but algorithms are essential to your everyday life! All the different technologies
            you use, and websites you interact with, are based off algorithms, and some of the most fundamental algorithms in
            computer science are <i>sorting algorithms.</i></h3>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img class="gif img-fluid img-thumbnail" src="images/bubblesort-gif.gif" alt="Bubble sort animation" width="450" height="280"/>
        </div>
    </div>
    <div class="row waypoint">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3 class="report-text-spacing">On our website, you can learn about three different sorting algorithms: <a href="/learnbubble" class="text-link"> Bubble sort, </a>
            <a href="/learnmerge" class="text-link"> Merge sort </a> and <a href="/learnquick" class="text-link"> Quick sort. </a> Then, you can test how much you've learnt by
            taking a short quiz in each algorithm, and even see how well you've done on the leaderboards!
        </div>
    </div>
    <div class="row waypoint">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <h3 class="report-text-spacing">Follow these links to explore our site!</h3>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="/learnhome" class="btn btn-default btn-lg" id="sort-buttons" role="button">Learn More!</a>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-6">
            <a href="/testhome" class="btn btn-default btn-lg" id="sort-buttons" role="button">Test Yourself!</a>
        </div>
</div>

<footer>
    <%- include('../partials/footer') %>
</footer>
</body>
</html>
